
/* Body Design -------------------- */

* {
  box-sizing: border-box;
}

.main-header{
  text-align: right;
}

h1 {
  height: 900px;
  background: darkslategray url('../img/Ace_Roadside_Service_blk.png') no-repeat center / cover;
  padding-top: 700px;
  border-radius: 50%;
  background-blend-mode: soft-light;
}

h2{
  text-align: center;  
}

h3{
  text-align: center;
}

/* Header Design -------------------- */

.contactinfo {
  color: black;
  font-size: 1em;
  letter-spacing: .065em;
  font-weight: 200;
  padding-bottom: 10px;
}

.headline {  
    font-size: 3em;
    color: darkgray;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    line-height: 1.3; 
    text-shadow: 0 1px 1px darkred;
    text-emphasis: circle;
    margin: 12px 0 0;
    padding-bottom: 100px;
  }

/* Link Design -------------------- */

a:link {
  color: red;
  text-decoration: none;
}

a:visited {
  color: slategray;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: darkslategray;
  text-decoration: none;
}

/* Floats ------------------ */

.services,
.recent-news {
  width: 50%;
}

.services {
  float: right;
}

.recent-news {
  float: left;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}
